@import url("https://fonts.googleapis.com/css2?family=Love+Light&family=Love+Ya+Like+A+Sister&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --main-background-color: #495057;
  --secondary-background-color: #495057;
  --secondary-gameboard-color: #7a7d80;
  --hover-color: #666d74;
  --settings-button: #60d394;
  --clear-button: #ee6055;
  --settings-button-hover: #20c56a;
  --clear-button-hover: #d84d43;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

body {
  background-color: var(--main-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  gap: 20px;
}

body h1 {
  color: white;
  font-size: 3rem;
}

.cell {
  width: 100px;
  height: 100px;
  background-color: var(--secondary-background-color);
  gap: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4.5rem;
  font-weight: 700;
  color: white;
}

.cell:hover {
  background-color: var(--hover-color);
}

.column {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.main-board {
  display: flex;
  gap: 3px;
}

.win-screen {
  font-size: 1.9rem;
  color: white;
  font-weight: 600;
}

.main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 20px 30px 20px;
  border-radius: 10px;
  background-color: var(--secondary-gameboard-color);
}

.control-buttons {
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.control-button {
  padding: 10px;
  width: 40%;
  color: black;
  font-weight: 600;
  font-size: 1.5rem;
  border-radius: 5px;
  color: black;
}

#settings {
  background-color: var(--settings-button);
  outline: none;
  border: none;
}

#settings:hover {
  background-color: var(--settings-button-hover);
}

#clear {
  background-color: var(--clear-button);
  outline: none;
  border: none;
}

#clear:hover {
  background-color: var(--clear-button-hover);
}

.settings_dialog {
  width: 400px;
  height: 220px;
  margin: auto;
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 20px;

  font-size: 1.4rem;
}

.input-dialog {
  display: flex;
  flex-direction: column;
}
.input-dialog input {
  height: 27px;
}

.settings_dialog::backdrop {
  backdrop-filter: blur(3px);
}

.dialog-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.dialog-form button {
  padding: 3px;
  font-size: 1.1rem;
  background-color: #60d394;
  outline: none;
  border: none;
  border-radius: 5px;
  font-weight: 600;
}
